
<div class="contents-main">
  <h2>インストール</h2>

  <a href='/auth/slack'>DM警察をSlackにインストールする</a>

  <ul>
    <li>@dm-keisatsu というbotが追加されるよ</li>
    <li>/dm-keisatsu というコマンドが追加されるよ（まだ実装していないけど）</li>
    <li>成功するとWebhookで通知するよ！（だからチャネルを選んでね）</li>
    <li>終わったら「自分のDMのパトロールを依頼」しよう</li>
  </ul>
</div>

