
<div class='screenshots'>
  <div>
    <p class='catch-text'>dmを受け取ると<br>あなたの代わって<br>オープンチャネルに<br>誘導してくれるやつです</p>
    <div><a class='install-button' href='/auth/add_to_slack'>dm警察をslackにインストールする</a></div>
  </div>
  <img src='https://user-images.githubusercontent.com/1561249/69439578-9b472380-0d8a-11ea-812d-749eaad44c34.png'>

</div>
<div class="contents-main">
  <section class="section">
    <div style='text-align: center;'>
      <br/>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8pp_Aa2tA-g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br/>
    </div>
  </section>
  <section class="section">
    <h2>注意</h2>
    <ul>
      <li>
          利用するには、slackワークスペースへのインストール、その後に個別のアカウントからdm警察にパトロール依頼をする必要があります。
      </li>
      <li>
        パトロールを依頼した人宛のdmを検知必要があるため、このslackアプリは強めの権限を要求します。dmの内容は一切ログを取らないように作っていますが、不安な場合は作者に連絡いただき、 heroku buttonで独自の環境を作成することをお勧めします。<b>詳しくは<a href="https://rocky-dev.kibe.la/shared/entries/4d1c1fd8-c2cb-4399-ab28-42380f812839">コチラ</a></b>
      </li>
    </ul>
  </section>
  <section class="section">
    <h2>使ってみる</h2>
    <div class='step'>
      <div class='step-item'>
        <div class='step-box'>
          <p class='step-title'><a href='/auth/add_to_slack'><b>step1</b> slackにdm警察をインストール</a></p>
          <div class='step-visual'><a href='/auth/add_to_slack'><img src='https://user-images.githubusercontent.com/1561249/69445654-17933400-0d96-11ea-8297-a140515d3cfe.png'></a></div>
          <p class='step-text'>あなたのslackワークスペースにdm警察をインストールします。インストールをすると@dm警察というappおよびbotが作成されます。</p>
        </div>
      </div>
      <div class='step-item'>
        <span class='arrow'>-&gt;</span>
      </div>
      <div class='step-item'>
        <div class='step-box'>
          <p class='step-title'><a href='/auth/register'><b>step2</b> 自分宛てのdmのパトロールを依頼</a></p>
          <div class='step-visual'><img src='https://user-images.githubusercontent.com/1561249/69445927-b1f37780-0d96-11ea-9781-344a1815c132.png'></div>
          <p class='step-text'>あなた宛のdmのパトロールをdm警察を依頼します。このリンクから、または@dm警察に「パトロールよろしく」と話しかけることで登録することができます。パトロールを停止するには、 @dm警察 あてに「パトロールおしまい」と話しかけます。</p>
        </div>
      </div>
    </div>
  </section>
  <ul>
    <li>
      <a href='/auth/add_to_slack'>DM警察をSlackにインストールする</a>
    </li>
    <li>
      <a href='/auth/register'>自分のDMのパトロールを依頼</a>
    </li>
  </ul>


</div>
