<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <header class="header">
      <h1><a href="/" class="link-to-top">DM警察</a><%= process.env.WARN_TEXT %></h1>
    </header>
    <%- body %>
    <footer class="footer">
      <ul>
        <li>超開発中なので気をつけてね</li>
        <li>この登録シーケンス自体も警察官ぽい人との会話にしたいのだけれども</li>
      </ul>
      <div class="credit">
      ©︎rocky_manobi - <a href="https://blog.rocky-manobi.com">https://blog.rocky-manobi.com</a> / twitter:<a href="https://twitter.com/rocky_manobi">@rocky_manobi</a>
      </div>
    </footer>
  </body>
</html>
