
<div class="contents-main">
  <h2>自分のDMのパトロールを依頼</h2>

  <ul>
    <li>@dm-keisatsu というbotが追加されていることを確認しよう</li>
    <li>
      <a href='/auth/slackPersonal'>自分のDMのパトロールを依頼する</a>
      <ul>
        <li>im:history権限 - DMを受け取ったことを検知するため/BOTに注意してもらうために使います</li>
        <li>mpim:history権限 - 複数人でのDMを受け取ったことを検知するため/BOTに注意してもらうために使います</li>
      </ul>
    </li>
  </ul>
</div>

